
 /* here is some basic styling for our dictionary */
.App {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
 
 
input{
  width: 200px;
  height: 20px;
  font-size: 15px;

}
  
.showResults{
  width: 200px;
}

button {
  margin: 10px;
}
 
.showResults > h2 > button{
  background: none;
  border: none;
  cursor: pointer;
}